<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AlreadyLoggedInFilter</filter-name>
        <filter-class>filters.AlreadyLoggedInFilter</filter-class>
    </filter>
    <filter>
        <filter-name>IsLoggedInFilter</filter-name>
        <filter-class>filters.IsLoggedInFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AlreadyLoggedInFilter</filter-name>
        <url-pattern>/loginpage</url-pattern>
        <url-pattern>/signup</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IsLoggedInFilter</filter-name>
        <url-pattern>/newthread</url-pattern>
        <url-pattern>/CreatePost</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CreateThreadController</servlet-name>
        <servlet-class>controller.CreateThreadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createthreadjsp</servlet-name>
        <jsp-file>/createthread.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>viewThread</servlet-name>
        <jsp-file>/viewThread.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FetchThreadController</servlet-name>
        <servlet-class>controller.FetchThreadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePostController</servlet-name>
        <servlet-class>controller.CreatePostController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginpage</servlet-name>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateThreadController</servlet-name>
        <url-pattern>/CreateThread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createthreadjsp</servlet-name>
        <url-pattern>/newthread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewThread</servlet-name>
        <url-pattern>/threads/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchThreadController</servlet-name>
        <url-pattern>/FetchThread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePostController</servlet-name>
        <url-pattern>/CreatePost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>users</servlet-name>
        <jsp-file>/users.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signup</servlet-name>
        <jsp-file>/signup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginpage</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>userprofile</servlet-name>
        <jsp-file>/profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userprofile</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>
</web-app>
