/*background-color: #454545;#141414(dark)
color: #0481ff;*/
.nav.navbar-nav li a {
    color: #0481ff;
}

.myColor {
    color: #0481ff;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #454545;
    overflow: hidden;
    color: #0481ff;
}
/* Popover */
.popover {
    border: 2px solid #0481ff;
    width:400px;
    height:400px;
    background-color: #454545;
}
/* Popover Header */
.popover-title {
    background-color: #222; 
    color: #0481ff; 
    font-size: 30px;
    text-align: center;
}
/* Popover Body */
.popover-content {
    background-color: #454545;
    color: #0481ff;
    padding: 25px;
    text-align: center;
}
/* Popover Arrow */
.arrow {
    border-color: red;
}

/* Table CSS */
.myTable {
    border: 2px solid #0481ff;
    width: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.myTableRow {
    
}

.myTableData {
    padding: 2rem;
    border: 2px solid #0481ff;
}

.myPicture {
    width: 12rem;
}