/*background-color: #454545;#141414(dark)
color: #0481ff;*/
.nav.navbar-nav li a {
    color: #0481ff;
}
.mynavbar {
    z-index: 100; /* stay on top */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.myColor {
    color: #0481ff;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-color: #454545;*/
    overflow:auto;
    /*color: #0481ff;*/
}

.main {
    /*margin-left: 200px;*/
    position: relative;
    top: 80px;
}

/* Popover */
.popover {
    border: 2px solid #0481ff;
    /*width:400px;*/
    /*height:400px;*/
    background-color: #454545;
}
/* Popover Header */
.popover-title {
    background-color: #222; 
    color: #0481ff; 
    font-size: 30px;
    text-align: center;
}
/* Popover Body */
.popover-content {
    background-color: #454545;
    color: #0481ff;
    padding: 25px;
    text-align: center;
}
/* Popover Arrow */
.arrow {
    border-color: red;
}

/* Table CSS */
#table-wrapper {
  position:relative;
  border:solid 2px green;
  overflow: hidden;
  width: 30%;
  left:50%;
  transform: translate(-50%, 0);
}

#table-scroll {
  overflow:auto;
  height:500px;
}

#table-wrapper table {
    width:100%;
}

.myTable {
    border: 2px solid #0481ff;
}

.myTableRow {
    color: green;
}

.myTableRow a {
    color: green;
}

.myTableData {
    padding: 2rem;
    border: 2px solid #0481ff;
}

.myPicture {
    width: 12rem;
}

/*************************************************/
/*Styling the meter*/
meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }


#signupform {
    position: relative;
    padding: 5rem;
    padding-top: 2rem;
    padding-right: 2rem;
    width:600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    /*border: 2px solid #0481ff;*/
    /*background: #222;*/
}

#password-div {
    width:203px;
}

#password-div input,p {
    width: 100%;
}


/*Create Thread Form*/
#create-thread-container {
    width: 600px;
    margin-left: 30px;
    margin-top: 30px;
}

#create-thread-container #title {
    width: 100%;
}

#create-thread-container #input-tags {
    width: 100%;
}

/*Style view thread page*/

#view-thread-container {
    width: 600px;
    position: relative;
    left: 50%;
    top: 40px;
    transform: translate(-50%, 0);
    border: solid 2px #0481ff;
}

#view-thread-container #replies {
    overflow: auto;
}

#view-thread-container #newreply {
    width: 100%;
}

.post-container {
    border: solid 2px chartreuse;
    margin: 5px;
    padding: 5px;
}

.post-container #user {
    color: green;
    font-size: 20px;
}


/*User profile styling*/

#user-profile-container {
    width: 600px;
    position:relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    border: solid 2px #0481ff;
}

#user-profile-container #profile-picture {
    width: 100px;
    height: 100px;
    border: solid 2px red;
    float: left;
    margin-right: 20px;
}

#user-profile-container #top {
    height: 120px;
    /*border: solid 2px green;*/
}

#user-profile-container #username {
    color: green;
    font-size: 20px;
    margin-top: 10px;
}

#user-profile-container #points {
    font-family: monospace;
    font-size: 11px;
}

#user-profile-container #follow-button {
}

#user-profile-container #followers-following {
    float: right;
}


/*Styling threads div on index.jsp*/
#all-threads-container,#user-threads {
    width: 600px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    
}

#all-threads-container {
    border: solid 2px #0481ff;
}

#all-threads-container #thread-container,#user-threads #thread-container {
    margin: 10px;
    border: solid 2px green;
    padding: 5px;
}

#all-threads-container #thread-title,#user-threads #thread-title {
    font-size: 15px;
    color: green;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1;   
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #222; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 54px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: lavender;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color: lavender;
    color: black;
}

/*Styling loginpage*/
#loginform-cotainer {
    position: relative;
    width: 400px;
    left: 40%;
    top: 30px;
    /*transform: translate(-50%, 0);*/
    /*border: 2px solid green;*/
}


/*Styling CreateThread Page*/

#create-thread-container {
    position: relative;
    left: 300px;
    /*top: 30px;*/
    /*transform: translate(-50%, 0);*/
}


/*Styling div sortby on index.jsp*/
#sortby {
    /*border: solid 2px red;*/
    
    
    /*Fit width to content*/
    /*display: inline-block;*/   
    
    
    text-align: right;
}

