/*background-color: #454545;#141414(dark)
color: #0481ff;*/
.nav.navbar-nav li a {
    color: #0481ff;
}

.myColor {
    color: #0481ff;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #454545;
    overflow:auto;
    color: #0481ff;
}
/* Popover */
.popover {
    border: 2px solid #0481ff;
    width:400px;
    height:400px;
    background-color: #454545;
}
/* Popover Header */
.popover-title {
    background-color: #222; 
    color: #0481ff; 
    font-size: 30px;
    text-align: center;
}
/* Popover Body */
.popover-content {
    background-color: #454545;
    color: #0481ff;
    padding: 25px;
    text-align: center;
}
/* Popover Arrow */
.arrow {
    border-color: red;
}

/* Table CSS */
#table-wrapper {
  position:relative;
  border:solid 2px chartreuse;
  border-radius: 4%;
  overflow: hidden;
  width: 30%;
  left:50%;
  transform: translate(-50%, 0);
}

#table-scroll {
  overflow:auto;
  height:500px;
}

#table-wrapper table {
    width:100%;
}

.myTable {
    border: 2px solid #0481ff;
}

.myTableRow {
    color: chartreuse;
}

.myTableRow a {
    color: chartreuse;
}

.myTableData {
    padding: 2rem;
    border: 2px solid #0481ff;
}

.myPicture {
    width: 12rem;
}

/*************************************************/
/*Styling the meter*/
meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }


#signupform {
    position: relative;
    padding: 5rem;
    width:400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid #0481ff;
    background: #222;
}

#password-div {
    width:203px;
}

#password-div input,p {
    width: 100%;
}


/*Create Thread Form*/
#create-thread-container {
    width: 600px;
    margin-left: 30px;
    margin-top: 30px;
}

#create-thread-container #title {
    width: 100%;
}

#create-thread-container #input-tags {
    width: 100%;
}

/*Style view thread page*/

#view-thread-container {
    width: 600px;
    position: relative;
    left: 50%;
    top: 40px;
    transform: translate(-50%, 0);
    border: solid 2px #0481ff;
}

#view-thread-container #replies {
    border: solid 1px red;
    overflow: auto;
}

#view-thread-container #newreply {
    width: 100%;
}
